/* ------------------------------------------------------------
 ██╗  ██╗███████╗██╗    ██╗   ██╗██╗     ██╗███╗   ██╗███████╗
 ██║ ██╔╝██╔════╝██║    ██║   ██║██║     ██║████╗  ██║██╔════╝ 
 █████╔╝ █████╗  ██║    ██║   ██║██║     ██║██╔██╗ ██║█████╗   
 ██╔═██╗ ██╔══╝  ██║    ╚██╗ ██╔╝██║     ██║██║╚██╗██║██╔══╝   
 ██║  ██╗███████╗███████╗╚████╔╝ ███████╗██║██║ ╚████║███████╗ 
 ╚═╝  ╚═╝╚══════╝╚══════╝ ╚═══╝  ╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝ 
 Author: Kelvline | One line of code at a time. 
 GitHub: https://github.com/kelvline 
 --------------------------------------------------------------*/ 
  
.idea
.vscode